$c-primary: #32d1ff;
@import 'scroll';
:global {
  @import 'reset';
}
.banner {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: top center;
  background-color: $c-primary;
  padding: 1rem;
}

.view .container {
  width: 100vw;
  height: calc(100vh - 320px);
  padding: 0.5rem 1rem 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  border: none !important;
  background: transparent;
}
.btnGroup {
  display: flex;
  margin-top: 1rem;
}
.getBtn,
.submitBtn {
  flex: 1;

  border-radius: 3rem;
}
.getBtn {
  margin-right: 1rem;
}
.submitBtn {
  font-weight: 600;
  border: none;
  background: linear-gradient(
    45deg,
    $c-primary,
    lighten($c-primary, 16%)
  ) !important;
  box-shadow: 0 4px 24px rgba($c-primary, 0.25);
}
.resetBtn {
  border-radius: 2rem;
  margin: 0 auto;
  float: right;
  font-size: 0.8rem;
  border: none;
  color: #fff !important;
  background: rgba(#fff, 0.2) !important;
}
.footbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 -4px 16px rgba(#000, 0.05);
}
.split {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #eee;
}
