html,
body,
:global(#root) {
  height: 100%;
  background: #fff;
  overflow: hidden;
  user-select: none;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
}

div {
  box-sizing: border-box;
  position: relative;
}

h1 {
  font-size: 1rem;
  margin: 0.5rem 0 1rem;
}
